body {
  font-family: "Red Hat Display", sans-serif;
  background-color: #fafafa;
  margin: 0;
}
body header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body header .logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
body header .logoWrapper img {
  width: 118px;
}
body header .headContent {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
body header .headContent .hero-left,
body header .headContent .hero-right {
  max-width: 394px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
body header .headContent .hero-left {
  left: -26px;
  top: 0;
}
body header .headContent .hero-right {
  right: -26px;
  bottom: 0;
}
body header .headContent .wrapper {
  margin: 64px 160px;
}
body header .headContent .wrapper .title {
  margin: 23px 335.85px;
  text-align: center;
  max-width: 448px;
}
body header .headContent .wrapper .title h1 {
  font-size: 64px;
  line-height: 1.1;
  letter-spacing: 0px;
  color: #28283d;
  margin: 23px auto;
}
body header .headContent .wrapper .title p {
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0px;
  color: #28283d;
  color: #87879d;
  text-align: center;
  margin: 18px 10px;
  max-width: 448px;
  line-height: 1.5;
}
body header .headContent .wrapper .title .buttons {
  display: flex;
  justify-content: center;
  gap: 17px;
}
body header .headContent .wrapper .title .buttons button {
  padding: 16px 40px;
  border-radius: 29px;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #28283d;
  color: #fafafa;
  font-weight: bold;
}
body header .headContent .wrapper .title .buttons .first {
  background-color: #4d96a8;
}
body header .headContent .wrapper .title .buttons .first span {
  color: #8fe3f9;
}
body header .headContent .wrapper .title .buttons .first:hover {
  background-color: #71c0d4;
}
body header .headContent .wrapper .title .buttons .second {
  background-color: #855fb1;
}
body header .headContent .wrapper .title .buttons .second:hover {
  background-color: #b18bdd;
}
body main {
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .wrapper {
  margin: 56px 160px 72px;
  position: relative;
}
body main .wrapper .component {
  margin: 0;
  height: 136px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #28283d;
  font-weight: bold;
  color: #87879d;
}
body main .wrapper .component .verticalLine {
  border-left: 1px solid #87879d;
  height: 80px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
body main .wrapper .component .circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid #87879d;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  margin-left: -31.5px;
  top: 80px;
}
body main .wrapper .images {
  margin: 64px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .wrapper .images img {
  max-width: 256px;
  max-height: 256px;
  border-radius: 10px;
}
body main .wrapper .desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 288px;
}
body main .wrapper .desc .title {
  text-align: center;
  gap: 16px;
}
body main .wrapper .desc .title p {
  margin: 0;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 4px;
  color: #4d96a8;
  font-weight: bold;
  text-transform: uppercase;
}
body main .wrapper .desc .title h1 {
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0px;
  color: #28283d;
  margin: 0;
  margin-top: 16px;
  max-width: 445px;
}
body main .wrapper .desc p {
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0px;
  color: #28283d;
  color: #87879d;
  text-align: center;
  margin: 32px 0 0;
  max-width: 554px;
  line-height: 1.5;
}
body footer {
  position: relative;
}
body footer .component {
  margin: 0;
  height: 136px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #28283d;
  font-weight: bold;
  color: #87879d;
}
body footer .component .verticalLine {
  border-left: 1px solid #87879d;
  height: 80px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
body footer .component .circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid #87879d;
  background-color: #fafafa;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  margin-left: -31.5px;
  top: 80px;
}
body footer .text {
  background-image: url("/assets/desktop/image-footer.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 108px;
  width: 100%;
}
body footer .text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(77, 150, 168, 0.9);
  z-index: 1;
}
body footer .text .wrapper {
  margin: 112px 160px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
body footer .text .wrapper h1 {
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0px;
  color: #28283d;
  color: #fafafa;
  max-width: 445px;
  margin: 0;
}
body footer .text .wrapper p {
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0px;
  color: #28283d;
  color: #fafafa;
  line-height: 1.5;
  max-width: 355px;
  margin: 0;
}
body footer .text .wrapper button {
  padding: 16px 40px;
  border-radius: 29px;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #28283d;
  color: #fafafa;
  font-weight: bold;
  background-color: #855fb1;
  margin-bottom: 32px;
}
body footer .text .wrapper button span {
  color: #d9b8ff;
}
body footer .text .wrapper button:hover {
  background-color: #b18bdd;
}/*# sourceMappingURL=styles.css.map */